.main {
  padding: 0 30px;
}

.pagination {

  .button {
    width: 30px;
    height: 20px;
    background: #eab912;
    border-radius: 4px;
    cursor: pointer;

    &:active {
      background: #a4820d;
    }
  }

  .currentPage {
    display: inline-block;
    padding: 0 10px;
  }
}
