.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #b9d6ef;
  padding: 0 30px;

  &Left {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &Right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.logo {
  width: 63px;
  height: 63px;
}

.titleImage {
  width: 300px;
  height: 60px;
}

.select {
  height: 30px;
  background: #e7e6e6;
  border-radius: 8px;
}
